/*-- Reset ------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
html { width: 100%; }
:focus {outline: 0;}
body {line-height: 1;color: black;background: white;}
ol, ul {list-style: none;}

table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

a { text-decoration: none; color: #7B9EAE;}
a:hover { text-decoration: none; color: #9F1924;}
li { list-style: none; }
p {
    margin: 0px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-size: 11pt;
    color: #555;
}
.wrapper .body > p {
     padding-right: 35px;
     margin-bottom: 30px;
}
h1, h2, h3, h4 { margin: 0; }
strong { font-weight: bold; }

/*-- Utility Styles ------------------------------------------------------------------*/
.left { float: left; }
.right { float: right; }
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

em {
    font-style: italic;
}

img.img-right {
    float: right;
    max-width: 250px;
    margin: 0 0 10px 20px;
}

img.img-left {
    max-width: 200px;
    float: left;
    margin: 0 20px 10px 0;
}

/* -- Colors & Aesthetics ---------------------------------------------------------------------------*/
.red {
    color: #9F1C20;
}

.light-blue-bg {
    background: #e5ecef;
}

body .highlight {
    font-size: 15pt;
    margin: 0 0 20px;
}

/*-- Structure Styles ---------------------------------------------------------------*/
body, .highlight {
    font-size: 100%;
    /*font-family: 'Raleway', 'helvetica', 'arial', sans-serif;*/
    font-family: 'Varela', sans-serif;
    font-weight: 100;
}
#content-wrapper { width: 1300px; position: relative; overflow: hidden; margin: 0 auto;}
#footer { width: 960px; overflow: hidden; margin: 0 auto; }
#red-bar {
    background-color: #9f1924;
    background-image: -webkit-gradient(linear, left center, right center, from(#9f1924), to(#070504));
    background-image: -webkit-linear-gradient(left, #9f1924, #070504);
    background-image: -moz-linear-gradient(left, #9f1924, #070504);
    background-image: -o-linear-gradient(left, #9f1924, #070504);
    background-image: -ms-linear-gradient(left, #9f1924, #070504);
    background-image: linear-gradient(left, #9f1924, #070504);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#9f1924', EndColorStr='#070504');
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#header-meta {
    color: #fff;
    width: 1190px;
    text-align: left;
    padding: 10px 0;
    font-size: 10pt;
    margin: 0 auto;
}
.large {
    font-weight: bold;
    font-size: 13pt;
}
#header-wrapper {
    background: #edece8;
    width: 100%;
    height: 175px;
    overflow: hidden;
    position: relative;
}
#header-wrapper .wrapper {
    background: #EDECE8;
    width: 1200px;
    height: 175px;
    overflow: hidden;
    margin: 0 auto;
}
#home_footer {
    width: 100%;
    margin: 0 auto;
}
#header {
    width: 100%;
    margin: -10px auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#header li {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#cta-header .bold {
    font-weight: bold;
    font-size: 21pt;
}
#cta-header .location {
    font-size: 11pt;
    border-bottom: 1px dashed #FFF;
    margin: 0px 0 4px;
    padding: 0 0 7px;
}
ul.sections > li#cta-header p.date {
    color: #000;
    font-size: 12pt;
    font-weight: bold;
}

ul.sections > li {
    margin: 0;
    float: left;
}
ul.sections > li#logo-wrapper {
    width: 175px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
ul.sections > li#menu-wrapper{
    width: 415px;
}
ul.sections > li#cta-header {
    margin: 25px 0 0 25px;
    padding: 14px 20px 14px;
    color: #fff;
    font-size: 1.5em;
    background: #7b9eae;
    width: 538px;
    height: 150px;
}
ul.sections > li#cta-header p {
    color: #fff;
}
#logo {
    background-image: url('../images/logo.png');
    background-size: 145px;
    background-repeat: no-repeat;
    background-position: 5px 25px;
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0 0 0px;
    padding: 40px 0 0;
    font-family: 'Raleway', sans-serif;
}
.tagline {
    font-size: 18pt;
    margin: 55px 0 2px 9px;
    letter-spacing: 5px;
}
.sub-message {
    font-size: 10pt;
    color: #333;
    letter-spacing: 4px;
    margin: 4px 0 0 9px;
}
.sub-message span {
    letter-spacing: 0.02em;
    margin: 0 auto;
    font-size: 10pt;
    font-weight: normal;
}
#nav {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 25px 0 16px;
    margin: 25px 0 0 0;
}
#nav li {
    margin: 0 10px 3px 35px;
    line-height: 1;
    padding: 0;
    float: left;
    width: 160px;
}
li:nth-child(2) a {
    color: #58595b;
    line-height: 2;
    float: left;
    display: block;
    width: 47%;
    margin: 0 3% 0 0;
}
#nav li a {
    margin: 0;
    line-height: 1;
    padding: 4px 0;
    width: 100%;
    float: none;
    font-weight: 500;
}
#nav li a:hover, #nav li.current-menu-item a {
    color: #9F1924;
}
#hero {
    position: relative;
    background-image: none;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#hero img {
    max-width: 1918px;
    margin: 0 auto;
    width: 100%;
}
#hero .wrapper {
    width: 1500px;
    /*width: 100%;*/
    margin: 0 auto;
}
#hero-copy-wrapper {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 13%;
    width: 100%;
    min-width: 1500px;
    padding: 0 20% 0 4%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#hero-copy-wrapper .wrapper {
    width: 1200px;
    margin: 0 auto;
}
#hero h4 {
    padding: 25px 0;
    color: #444;
    font-size: 13pt;
    line-height: 1.4;
    font-weight: 400;
    width: 1200px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

#footer_sprite {
    width: 1200px;
    margin: 0px auto 20px;
    display: block;
}
#footer_sprite li {
    float: left;
    margin-right: 6px;
    width: 180px;
}
#footer_sprite li a {
    background: url('../images/active_care_sprite.png');
    background-position: -12px 0;
    background-repeat: no-repeat;
    display: block;
    width: 186px;
    height: 100px;
    color: #fff;
    text-align: center;
    line-height: 7.5;
    text-shadow: 0 0 1px #333;
}
#footer_sprite li#active_release {
    margin-left: 0;
}
#footer_sprite li#car_accident a{
    background-position: -201px 0;
}
#footer_sprite li#crossfit_care a {
    background-position: -400px 0;
}
#footer_sprite li#dance_medicine a{
    background-position: -600px 0;
}
#footer_sprite li#pregnancy a{
    background-position: -800px 0;
}
#footer_sprite li#massage a{
    background-position: -1000px 0;
}
#new_patient {
    background: #d7e2e6;
    /* width: 325px; */
    width: 270px;
    margin-right: 30px;
    margin-bottom: 150px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
.body {
    width: 825px;
    float: left;
}
.wrapper {
    width: 1180px;
    margin: 0 auto;
}

.wrapper.the_content {
    width: 960px;
    margin: 20px auto 150px;
}

.post-thumbnail {
    margin: 0 auto 30px;
}

.wrapper > h1.title {
    margin: 50px 0 33px 34px;
}
.wrapper.andSidebar .inner {
    width: 687px;
    margin: -20px 40px 50px 0;
    float: left;
}
.title {
    color: #7b9eae ;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14pt;
    margin: 50px 0 10px;
}
#contact li, #contact li > a {
    color: #da4f29;
    font-size: 9pt;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    overflow: hidden;
}
#contact li > img {
    width: 50px;
    height: 50px;
    background: #333;
    margin: 0 10px 0 0;
    float: left;
}
#contact, #policies {
    margin: 0 0 15px 0;
    padding-bottom: 15px;
    /*border-bottom: 1px dashed #777;*/
    position: relative;
}
#contact > li {
    line-height: 1.4;
    padding-left: 80px;
    margin-bottom: 15px;
}
#contact > li p {
    margin-top: 0px;
    font-weight: normal;
    font-size: 10pt;
}
#new_patient ul#contact > li p span.big {
    display: inline;
    height: inherit;
    position: inherit;
    width: inherit;
    background-image: none;
    font-weight: bold;
}
#contact li#npf {
    line-height: 4.5;
}
#contact li#forms span {
    background-position: -483px -160px;
    height: 60px;
}
#contact li.last {
    border-bottom: none;
}
#contact li#forms ul {
    width: 100%;
}
#contact li#forms ul li {
    padding: 0;
    line-height: 1.2;
    border-bottom: 0;
}
#contact li#forms ul li a {
    width: 100%;
}

/* -- New Patient -- */
.page-id-14 {}
.page-id-14 .sidebar ul#contact li span, .page-id-14 .sidebar ul#policies li span {
    background-image: url('../images/new_patient_sprite.png');
    background-position: -483px -108px;
    display: block;
    height: 50px;
    width: 70px;
    position: absolute;
    left: 0;
}
.page-id-14 .sidebar ul#policies li span {
    background-image: url('../images/new_patient_sprite.png');
    background-position: -572px -168px;
    height: 22px;
    width: 50px;
}
.page-id-14 .sidebar ul#policies li#cp span {
    background-position: -572px -193px;
    height: 27px;
}
.page-id-14 .sidebar ul#policies li#aa span {
    background-position: -572px -110px;
}
.page-id-14 .sidebar ul#policies li#cc span {
    background-position: -572px -136px;
}

#policies li {
    position: relative;
    padding-left: 50px;
    font-size: 9pt;
    color: #777;
    margin-bottom: 10px;
    overflow: hidden;
}
#policies li strong {
    font-weight: bold;
}
#policies li img {
    width: 25px;
    height: 25px;
    float: left;
    margin: 0 5px 10px 0
}
#first_visit li.heading, #second_visit li.heading {
    color: #a21724;
    font-weight: bold;
    font-size: 10pt;
    line-height: 7;
    margin-right: 10px;
    background-image: none;
    width: 100px;
}
#first_visit, #second_visit {
    min-height: 105px;
    margin-bottom: 60px
}
#first_visit p, #second_visit p {
    margin-top: 115px;
}
#first_visit li, #second_visit li {
    float: left;
    margin-right: 20px;
    font-size: 10pt;
    text-align: center;
    background-image: url('../images/new_patient_sprite.png');
}
#first_visit li, #second_visit li {
    width: 150px;
    height: 105px;
}
#first_visit li#ec {
    background-position: -161px 0;
}
#first_visit li#it {
    background-position: -321px 0;
}
#first_visit li#xray {
    background-position: -481px 0;
}
#second_visit li#treat-art {
    background-position: 0 -114px;
}
#second_visit li#adjustments {
    background-position: -160px -114px;
}
#second_visit li#hci {
    background-position: -320px -114px;
}
#second_visit li a {
    float: none;
    width: 100%;
    margin: 0;
    line-height: 1;
}
.sidebar {
    float: left;
    width: 380px;
    margin: 0;
    overflow: hidden;
}

/* ---------- Sidebar1 ---------------------------------------*/
.box {
    border: 1px solid #a8a7a7;
    padding: 20px 15px;
    margin: 0 0 20px;
}
.sidebar .title { color: #777;  font-weight: bold; margin:0 0 7px; padding: 0;}
.sidebar .title span { color: #333;  }

#clinicHours {}
.sidebar ul li {
    border-bottom: 1px dashed #777;
    padding: 0 0 10px 0;
    margin: 0px 0 10px;
    font-size: 10pt;
}
.sidebar ul li.last {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.sidebar ul li p {
    color: #333;
    font-weight: bold;
    margin: 0 0 3px;
}

#reviewUs { padding-bottom: 5px; }
#reviewUs li {
    border: none;
    float: left;
    margin: 0 10px 0 0;
}
#reviewUs li a {
    display:block;
    width: 65px;
    height: 75px;
    margin-top: -10px;
    line-height: 1;
    background: url('http://activecareatl.com/wp-content/themes/AtlActiveCare/images/sm_sprite.png') 0 0 no-repeat;
    text-indent: -9999px;
}
#reviewUs li#gp a {}
#reviewUs li#fb a { background-position-x: -84px; width: 70px; height: 78px; }
#reviewUs li#yelp a { background-position-x: -166px; width: 80px; height: 78px; }
#reviewUs li#kudzu a { background-position-x: -250px; width: 90px; height: 90px; }

#phoneConsult { padding-bottom: 7px; }
#phoneConsult .title { font-weight: normal; font-size: 20pt; }
#phoneConsult .title span.red { color: #9F1C20; font-weight: bold; }
#phoneConsult .title span#phone { font-size: 42pt; color: #999; font-family: sans-serif; font-weight: bold; }

/* ---------- Services Page / Corner Rotate ------------------ */
#box1 {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 40%;
    left: 37%;
    background: green;
}

#servicesGrid, .grid {
    width: 90%;
    margin: 35px auto 50px;
    list-style: none;
    padding: 25px 0 15px 45px;
    /*background: #EDECE8;*/
}

.grid {
    margin: 0 auto 100px;
}

#serviceGrid li, .grid li {
    background-color: hsla(0, 0, 100, 0.7);
}

.grid li {
    width: 200px;
    float: left;
    margin: 0 40px 0 0;
    font-size:14px;
    color:#555555;
}
#providersGrid.grid li a {
    border: 1px solid #aaa;
    padding: 5px 5px 2px;
    height: auto;
    margin: 0 0 5px 0;
    background: #fff;
}

#servicesGrid a, .grid a {
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    display: block;
    width: 100%;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 23;
    background: url('../images/service_sprite.png') 0 0 no-repeat;
}

.grid li a {
    line-height: 1;
    background-image: none;
    background-color: #999;
    float: none;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.grid li a img {
    width: 100%;
}

.grid li p {
    text-align: center;
    font-size: 10pt;
}
#servicesGrid a:hover, .grid a:hover{
     opacity: 0.7;
}

#servicesGrid li#img-aa a {
    background-color: #fff;
    background-position: -209px 0px;
}

#servicesGrid li#img-ca a {
     background-position: -632px -209px;
}

#servicesGrid li#img-fg a {
     background-position: -421px -209px;
}

#servicesGrid li#img-kt a {
     background-position: -212px -208px;
}

#servicesGrid li#img-dm a {
     background-position: 0px -207px;
}

#servicesGrid li#img-cfc a {
     background-position: -842px 3px;
}

#servicesGrid li#img-pp a {
     background-position: -632px 4px;
}

#servicesGrid li#img-re a {
     background-position: -421px 4px;
}

#servicesGrid li#img-els a {
     background-position: -850px -209px;
}

#servicesGrid li {
    width: 200px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
#servicesGrid li:nth-child(1), #servicesGrid li:nth-child(6) {
/*    margin-left: 4%;*/
}

#grid-content {
    position: absolute;
    width: 65%;
    min-height: 100px;
    top: 100px;
    left: 17.5%;
    z-index: 2000;
    display: none;
}
#grid-content > div {
    width: 100%;
    min-height: 50px;
    background: #fff;
    border: 1px solid #000;
    margin: -20px auto;
    padding: 20px 40px;
    display: none;
    position: relative;
    color: #232323;
}

#grid-content > div a.close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #000;
}

#grid-content > div h4, #grid-content > div p {
    margin: 0 0 20px;
    padding: 0;
}

#grid-content > div ul {
    color: #232323;
    font-size: 11pt;
    -webkit-font-smoothing: antialiased;
    margin: 15px 0 10px 20px;
}

#grid-content > div ul li {
    list-style: disc;
    margin: 0 0 2px 0;
}

#grid-content > div p {
    font-size: 11pt;
}

#grid-content > div h4 {
    font-size: 15pt;
}

#grid-content > div h4.title {
    margin: 10px 0 20px 0;
    font-size: 20pt;
    font-weight: bold;
}

#grid-content > div h4.highlight, .highlight {
    margin: 25px 0 15px 0;
    /* color: #440d11; */
    color: #9e1924;
    font-weight: 400;
}

#grid-content > div .partners {
    margin-bottom: 10px;
}

#grid-content > div .partners h4 {
    text-align: center;
    margin: 0 auto 4px;
}

.partners img {
    margin: 0 auto;
    max-width: 400px;
    display: block;
}

#grid-content > div strong {
    color: #333;
    margin: 5px auto;
}

#grid-content > div #cis {
    width: 80%;
    margin: 20px auto 30px;
}

#grid-content > div #cis img {
    max-width: 100%;
}

#grid-content > div #cis h4 {
    text-align: center;
}

#grid-content > #dm #dance_med {
    border-radius: 20px;
}

#grid-content > div #dance_pics {
    width: 75%;
    margin: 0 auto;
}

#grid-content > div #dance_pics img {
    max-width: 50%;
    margin: 0 5px 0 0;
}

#grid-content #cfc {
    padding-left: 25px;
    padding-right: 25px;
}

#cfc img {
    max-width: 100%;
}

#grid-content > div li.small {
    list-style: none;
    color: #555;
    font-weight: bold;
    font-size: 9pt;
}

#els > div.wrapper {
    /* width: 65%; */
    width: 95%;
    margin: 0 5% 0 0;
    float: left;
}

#els > #massage_inner {
    width: 100%;
    margin: 0 auto;
}
#grid-content > div > .service_inner_block div.wrapper {
    width: 65%;
    float: left;
    margin-right: 2.5%;
}

#grid-content .service_inner_block div.sidebar {
    float: left;
    width: 30%;
}
#massage_info {}
.sticky {
    background: #fef376;
}
#els > #massage_inner h4.highlight {
    margin-top: 0px;
}
#els > #massage_inner div.sidebar p {
    margin: 0 0 4px;
}
#els > #massage_inner div.sidebar p.last {
    margin-bottom: 38px;
}

#els > div.wrapper #massage_inner img {
    display: block;
    margin: 0 0 10px 0;
    width: 100%;
}
#aa .box h4.highlight {
    margin: 0 0 15px;
}
#aa .box p {
    margin: 0 0 5px;
}
#aa .box p.last {
    margin: 0 0 35px 0;
}

#aa .box p.border {
    margin: 0 0 10px 0;
    border-bottom: 1px dashed #555;
    padding: 0 0 10px;
}
#aa .box .highlight.italic {
    margin: 15px 0 0 0;
    font-style: italic;
}
#shade {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;

    background-color: #232323;
    background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(#070504), to(#232323));
    background-image: -webkit-radial-gradient(50% 50%, #232323, #070504);
    background-image: -moz-radial-gradient(50% 50%, #232323, #070504);
    background-image: -o-radial-gradient(50% 50%, #232323, #070504);
    background-image: -ms-radial-gradient(50% 50%, #232323, #070504);
    background-image: radial-gradient(50% 50%, #232323, #070504);
    opacity: .9;
}


/* -- Blog --*/
#blog {
    margin: 20px auto 0 auto;
}

article.post {
    max-width: 300px;
    margin: 0 45px 10px 45px;
    float: left;
}

#blog article.post .wrapper {
    width: 100%;
    margin-bottom: 50px;
}

#blog article.post h1.title {
    font-size: 20pt;
    margin: 0 0 4px;
}

.post .attachment-post-thumbnail {
    width: 100%;
    height: 170px;
}

/* -- Contact Page ------------------------------------------------------------------------------------------ */
.page-id-20 .wrapper.andSidebar h1.title {
    margin: 50px 0 33px 0px;
}
.page-id-20 .wrapper.andSidebar {
    width: 1120px;
}
form.wpcf7-form {
    width: 85%;
    max-width: 755px;
}
form.wpcf7-form input[type="text"], textarea, form.wpcf7-form input[type="email"] {
    width: 100%;
    background: #edece8;
    border: none;
    padding: 7px;
    box-sizing: border-box;
}
form.wpcf7-form input[type="submit"] {
    float: right;
    width: 25%;
    border: 1px solid #597280;
    background: #7c9eb0;
    color: #efefef;
    padding: 5px;
    font-size: 10pt;
}
form.wpcf7-form input[type="submit"]:hover {
    background: #6b8999;
    cursor: pointer;
}
#directions { margin: 0 0 25px 0; }
#directions > img {
    float: left;
    width: 352px;
    margin: 0 20px 5px 0;
}
#directions > p {
    float: left;
    margin: 14px 0 0 0;
    width: 300px;
}
#directions > p strong { color: #777; }

/* -- Testimonials & Events Pages ------------------------------------------------------------------------------------------ */
#news_and_events {
    margin: 30px auto;
}
.testimonial, .event {
    margin: 0 auto 30px;
    background: #ebf1f3;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 94%;
}
.event {
    padding: 30px 20px 50px;
}
.event .title {
    margin: 0 auto 4px;
}
.testimonial.odd, .event.odd {
    background: #f2f2ef;
}
.testimonial .image, .event .image {
    width: 11%;
    background: #FFF;
    padding: 5px;
    border: 1px solid #AAA;
}
.testimonial .image p {
    text-align: center;
}
.event .wp-post-image {
    float: left;
    margin: 0 20px 0 0;
    border: 1px solid #aaa;
    max-width: 65%;
}
.testimonial .image img, .event .image img {
    width: 100%;
}
.testimonial .copy, .event .copy {
    width: 85%;
}
.readMore {
    float: right;
}
.more {
    margin: 10px auto 0;
    display: none;
}

/*-- Gallery ------------------------------------------------------------------*/
#gallery { margin-bottom: 150px; overflow: hidden; }
#gallery #gallery-nav {
    width: 100px;
    margin: 0 20px 0 0;
    float: left;
}
#gallery-nav li:nth-child(2) a { color: #7B9EAE; }
#gallery #gallery-nav li { float: none; display: block; }
#gallery #gallery-nav li a { display: block; float: none;}
#gallery #content { float: left; width: 960px; }
#gallery #content .block { display: none; }

.page-id-13 #content li {
   width: 250px;
    float: left;
    margin: 0 10px 10px 10px;
    overflow: hidden;
    height: 170px;
}
.page-id-13 #content li a {
    display: block;
    width: 100%;
}
.page-id-13 #content li a img {
    width: 100%;
}


/* -- Social --*/
#socialWidgetWrapper {
    position: fixed;
    display: block;
    width: 50px;
    height: 150px;
    background: #3b5998;
    top: 45px;
    z-index: 9999;
    background-image: url('../images/like.png');
    background-repeat: no-repeat;
    background-position: 0 110px;
}
#socialWidgetWrapper h4 {
    color: #FFF;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: center;
    line-height: 5;
    font-size: 20pt;
    width: 43px;
}
#social_buttons{
    display: none;
    position: fixed;
    top: 45px;
    left: 50px;
    background: #1d2c4c;
    width: 0;
    overflow: hidden;
    color: #fff;
    height: 0;
}
#social_buttons > ul#links {
    padding-top: 5px;
    padding-left: 35px;
    width: 95px;
}
#social_buttons > ul#links a {
    color: #EFEFEF;
    float: none;
    width: initial;
    margin: initial;
    line-height: initial;
    display: initial;
}
#social_buttons > ul#links a:hover {
    color: #fff;
}
#social_buttons > ul#links li {
    margin-bottom: 13px;
}

#social_buttons > ul#buttons {
    padding-top: 6px;
    width: 100px;
}

#social_buttons > ul#buttons li {
    margin-bottom: 12px;
}